table{
    border: 5px blue solid;
    border-collapse: collapse;
     margin: auto; /*Centers the table*/
}

td,th{
    border: 1px black solid;
}

thead{
    border: 4px red solid;
    text-align: center;
    font-weight: bold;
}

tfoot{
    border: 4px green solid;
    background-color: aqua;
}

#firstrow{
    background-color: blueviolet;
}

